{{#each users as |User| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{User.name}}</h2>
  </div>
    <div class="col-md-6">
    <h2>{{User.tag}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{User.email}}">{{User.email}}</a></h3>
  </div>
</div>
{{/each}}

{{#each users as |User| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{User.name}}</h2>
  </div>
  <div class="col-md-6">
    <h2>{{User.tag}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{User.email}}">{{User.email}}</a></h3>
  </div>
</div>
{{/each}}